/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-shadow-color: #ff0070;
  --background-text-color: #ff0070;
  --text-color: #f1b2ce;
  --alternate-text-color: #000028;
  --hover-shadow-color: rgb(255 0 112 / 0.4);
}

:root.theme-dark {
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-shadow-color: #ff0070;
  --background-text-color: #ff0070;
  --text-color: #f1b2ce;
  --alternate-text-color: #000028;
  --hover-shadow-color: rgb(255 0 112 / 0.4);
}
