/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --main-title-color: #ffc2e6;
  --accent-color: #353430;
  --accent-shadow-color: #ff8dcb;
  --background-text-color: #ff8dcb;
  --text-color: #353430;
  --alternate-text-color: #353430;
}

.theme_light .header__decoration::before {
  overflow: auto;
  content: '';
}

.theme_light .header__decoration {
  overflow: auto;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-title-color: #ffc2e6;
    --accent-color: #353430;
    --accent-shadow-color: #ff8dcb;
    --background-text-color: #ff8dcb;
    --text-color: #353430;
    --alternate-text-color: #353430;
  }

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .header__decoration::before {
    overflow: auto;
    content: '';
  }

  .theme_auto .header__decoration {
    overflow: auto;
  }
}
